[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord = "*"
python-dotenv = "*"
requests = "*"
openai = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.9"
